/pertemuan2/target/
/pertemuan3/target/
/pertemuan4/target/
/TB1/target/
/pertemuan6/target/
/pertemuan7/dist/
/pertemuan7/target/
/pertemuan7/build/
/pertemuan12/nbproject/private/
/pertemuan12/build/
/pertemuan13/nbproject/private/
/pertemuan13/build/
/pertemuan14/target/
